.answer {
    display: flex;
    min-width: 500px;
    width: 80%;
    height: 100px;
    margin: 10px;
}

.content_answer {
    position: relative;
    display: flex;
    flex: 1;
}

.front {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    color: black;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.3rem;
    margin-right: 20px;
    color: #fff;
}

.value {
    font-size: 1.3rem;
    font-weight: 700;
}

.front, .verse {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.verse {

}